.title {
    color: black;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.designation {
    color: gray;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
}

.underline {
    width: 30%;
    height: 5px;
    background-color: #296c92;
    border-radius: 10px;
    margin-top: 1%;
}

.about-description {
    margin-top: 1%;
    color: gray;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.skill-title {
    color: black;
    font-weight: 800;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px;
}

.skill-name {
    color: gray;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    height: 60px;
}

.skill-name p {
    height: 30px;
    margin-right: 10px;
    border-bottom: 2px solid rgba(0,0,0,0.4);
}

.passion-name {
    color: gray;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    height: 60px;
}

.passion-name p {
    height: 30px;
    margin: 10px;
}

.language-name {
    color: gray;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    display: inline-flex;
    height: 60px;
}

.language-name p {
    height: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.english-bar {
    width: 100%;
    background-color: #296c92;
    height: 20px;
    z-index: 5;
    border-radius: 15px;
}

.hindi-bar {
    width: 100%;
    background-color: #296c92;
    height: 20px;
    z-index: 5;
    border-radius: 15px;
}

@media( max-width: 900px) {
    .title {
        font-size: 1.6rem;
    }
    .designation {
        font-size: 0.6rem;
    }
    .about-description {
        font-size: 0.8rem;
    }
    .skill-title {
        font-size: 1.2rem;
    }
    .skill-name {
        font-size: 0.6rem;
    }
    .passion-name {
        font-size: 0.6rem;
    }
    .language-name  {
        font-size: 0.6rem;
    }
    .english-bar {  
        height: 10px;
    }
    .hindi-bar {
        height: 10px;
    }

}

@media ( max-width: 850px ){
    .skill-title {
        flex: 1 1 100%;
    }
    .passion-name {
        height: 40px;
    }
    .title {
        text-align: center;
    }
    .designation {
        text-align: center;
    }
    .underline {
        margin-left: 35%;
        margin-right: 35%;
    }
}