.contactInput.invalid {
    animation: shakeInvalidInput 0.2s;
}

@keyframes shakeInvalidInput {
    0% {
        transform: translateX(-10px);
    }
    25% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(-10px);
    }
    75% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}